body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

#revision {
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}

#timerText {
    color: #d35400;
}

#word {
    font-size: 30px;
    letter-spacing: 8px;
    margin: 20px;
}

#letters button {
    margin: 4px;
    padding: 8px;
    width: 35px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
}

#message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: hsl(0, 0%, 76%);
}

button:active{
    background-color: hsl(0, 0%, 56%);
}

@media (max-width: 720px){
    h1{
        font-size: 50px;
    }

    #letters button{
        margin: 12px;

    }

    #word{
        font-size: 18px;
    }

    button{
        font-size: 30px;
    }
}